<!doctype html>
<title>White Elephant</title>
<style>
html {
    font: 20px 'Garamond','Georgia',serif;
}
img#elephant {
    height:160px;
}
#nav a, #nav a:visited {
    text-decoration: none;
    color: black;
}
#nav {
    float: right;
    text-decoration: none;
    color: black;
}
#content {
    width: 40%;
    margin-left: 30%;
}
#login_email {
    height: 35px;
    width: 350px;
    font: 22px 'Garamond','Georgia',sans-serif, bold;
    float: left;
}
#sub {
    height: 55px;
    margin-top: -6px;
}
.error {
    color: #BF3030;
}
</style>
<img src="{{ url_for('static', filename='image/white_elephant.png') }}" id="elephant"/>
<div id="nav">
    {% if session.logged_in %}
        <a href="{{ url_for('logout') }}">logout</a>
    {% endif %}
</div>
<div id="content">
    {% block body %}
    {% endblock %}
</div>
